<!DOCTYPE html>
<html>
	<head>
		<title>Button of Happiness</title>
		<link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.ico')}}"> 
		<link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
	</head>
	<body>
		<header>
			<h1>Button of Happiness</h1>
		</header>
		<a href="/home" id="home">
			<img src="{{url_for('static', filename='homeIcon.png')}}" alt="Home">
		</a>
		<main>
		<div id="sadness">
			<!-- Output goes here -->
		</div>
		<div id="dropdown">
			<select onchange="selection(this)">
				<option>I want to be relaxed</option>
				<option>I want to be motivated</option>
				<option>I want to be entertained</option>
			</select>
			<button onclick="generateOutput(this)">Hey, can I get another one?</button>
		</div>
		<a href='/messages' id="notification">
			<img src="{{url_for('static', filename='mailIcon.png')}}" alt="Messages">
			<p>Leave a Message</p>
		</a>
		</main>
		<script src="{{url_for('static', filename='js/links.js')}}"></script>
		<script src="{{url_for('static', filename='js/db.js')}}"></script>
		<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
	</body>
</html>
