<!DOCTYPE html>
<html>
  <head>
    <title>Button of Happiness</title>
	 <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
  </head>
  <body>
    <header>
      <h1>Button of Happiness</h1>
      <nav>
        <a href='/home'>Home</a>
        <a href='/message'>Leave a Message</a>
        <a href='/about'>About</a>
      </nav>
    </header>
    <main>
		<div id="dropdown">
			<select onchange="selection(this)">
				<option>I want to be relaxed</option>
				<option>I want to be motivated</option>
				<option>I want to be entertained</option>
			</select>
			<button onclick="generateOutput()">Hey, can I get another one?</button>
		</div>
		<div id="sadness">
			<!-- Output goes here -->
		</div>
    </main>
  </body>
</html>
