<!DOCTYPE html>
<html>
  <head>
    <title>Button of Happiness</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    <script src="{{url_for('static', filename='js/videos.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
  </head>
  <body>
    <header>
      <h1>Button of Happiness</h1>
      <nav>
        <a>Home</a>
        <a>Leave a Message</a>
        <a>About</a>
      </nav>
    </header>
    <main>
      <button onclick="dostuff()">Press Me to Dispense Happiness</button>
      <br>
      <div id="sadness">
      </div>
    </main>
  </body>
</html>
