<!DOCTYPE html>
	<head>
		<title>Leave a message!</title>
		<link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/messages.css')}}">
		<script src="{{url_for('static', filename='js/db.js')}}"></script>
	</head>
	<body>
		<div id="messages">
			<p id='info'>Remember to Smile</p> 
		</div>
		<button onclick="startMessages(this)">Someone has a message for you</button>
		<div id="userInput">
			<input type = "text" id = "myText" placeholder="Leave a message for someone else!">
			<input id="submit" type="button" onclick="setMessage('myText')" value="Send">
		</div>	
	</body>
</html>
