<!DOCTYPE html>
	<head>
		<title>Leave a message!</title>
		<link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
		<script src="{{url_for('static', filename='js/db.js')}}"></script>
	</head>
	<body>
		<div id="messages">
			<p id='test'>Click the Message button to get messages others have created.</p> 
		</div>
		<button onclick="showMessages()">Messages from others</button>
		<div id="user input">
			<input type = "text" id = "myText"/>
			<input type="submit" value="Submit">
		</div>	
	</body>
</html>
